.contact{
	background:white;
	width:100%;
}
.cnthd{
	font:20px arial bold;
	background:purplewidth:100%;
	background:purple;
	color:white;
	text-align:center;
	padding:24px;
	
}
.inner{
	text-align:center;
	width:100%;
}
.inner .nm, .inner .msg, .inner .myl{
	outline:0;
	border:0;
	border-bottom:1px solid rgba(0,0,0,0.2);
	padding:8px 16px 2px 16px;
	margin:16px 4px;
	width:240px;
	border-radius:6px;
	font-size:17px;
	transition:border .4s linear;
}
.inner .msg{
	border:1px solid rgba(0,0,0,0.2);
	height:120px;
	padding: 16px;
}
.inner button{
	outline:0;
	border:1px solid rgba(0,0,0,0.2);
	padding:8px 16px;	
	background:dodgerblue;
	color:white;
	font-size:17px;
	width:180px;
	border-radius:6px;
	margin:16px;
	cursor:pointer;
	transition:background-color .4s linear;
}
.footer{
	background:purplewidth:100%;
	background:purple;
	color:white;
	text-align:center;
	padding:16px;
	font-size:17px;
}
.lets,.fa{
	font-size:24px;
	font-weight:bold;
}
.inner .nm:focus, .inner .msg:focus, .inner .myl:focus{
	border:1px solid dodgerblue;
	}
	.inner button:hover,.inner button:focus{
		background:red;
	}
iframe{ 
	width:100%;
}
